.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.horizontal-layout {
  display: flex; 
  align-items: center; 
}

.grid {
  border: 1px solid #000;
  margin: 0 20px;
}

.grid {
  border: 1px solid #000;
  margin: 0 20px; /* Space between grid and buttons */
}



.controls {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
}

.vertical-button {
  height: 300px; /* This should be the same as your grid height */
  width: 50px; /* Width of the vertical buttons */
  display: flex;
  justify-content: center;
  align-items: center;
  /* writing-mode: tb-rl; */
  /* transform: rotate(-180deg); */
}



button {
  margin: 5px;
}
